<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Annotation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
            background-color: #e6f7ff; /* Light blue background */
        }
        #video-upload {
            margin-bottom: 20px;
        }
        #loading-message {
            display: none;
        }
        #annotated-video {
            display: none;
            width: 100%;
        }
    </style>
</head>
<body>
  <h1>Video Annotation</h1>
  
  <input type="file" id="video-upload" accept="video/*">
  <button onclick="annotateVideo()">Upload & Annotate</button>
  
  <div id="loading-message">Processing video...</div>
 

  <script>
    function annotateVideo() {
    var input = document.getElementById('video-upload');
    var file = input.files[0];

    if (!file) {
        alert('Please select a video file.');
        return;
    }

    // Create FormData object
    var formData = new FormData();
    formData.append('file', file);

    // Hide the upload and button
    input.style.display = 'none';
    document.querySelector('button').style.display = 'none';

    // Display loading spinner or message here
    var loadingMessage = document.getElementById('loading-message');
    loadingMessage.style.display = 'block';

    // Use the created formData in the fetch request
    fetch('/predict_video', {
        method: 'POST',
        body: formData
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Failed to process video.');
        }
        return response.blob();
    })
    .then(blob => {
        var url = URL.createObjectURL(blob);
        document.getElementById('annotated-video').src = url;
        // Show the annotated video
        document.getElementById('annotated-video').style.display = 'block';
    })
    .catch(error => {
        console.error('Error:', error);
        alert('An error occurred while processing the video.');
    })
    .finally(() => {
        // Hide loading spinner or message here
        loadingMessage.style.display = 'none';
    });
}

  </script>
</body>
</html>
